<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<header th:replace="fragments/commons::nav">

</header>
<script>
    const toggleButton = document.getElementsByClassName('toggle-button')[0];
    const navbarLinks = document.getElementsByClassName('navbar-links')[0];

    toggleButton.addEventListener('click',() => {
        navbarLinks.classList.toggle('active')
    })

</script>
<div class="margincont"></div>
<body id="rbody">
<div class="container" id="rcontainer">
    <h3>Space Travel</h3>
    <p>Feeling adventurous? You have the chance to visit new worlds now. For each visit, you will be awarded music never
        heard before!</p>
<!--    <div class="button">-->
<!--        <input type="submit" value="Go to Register Page">-->
<!--    </div>-->
</div>
<div class="margincont"></div>
<div class="container" id="cont">
    <p>Regular users have the option to choose from a variety of ships and travel to planets and black holes.
        Upon visiting a black hole, the ship is destroyed.</p>
</div>
</body>
<footer th:replace="fragments/commons::footer">
</footer>
</html>