<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Space Travel</title>
  <link rel="stylesheet" href="/css/reset-css.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header class="headerr">
  <nav class="navbar navbar-style">
    <div class="containerh">
      <div class="navbar-header">
        <a href=""><img class="logo" src="/images/logo.PNG"></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Home</a></li>
        <li><a href="">Register</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">Users</a></li>
        <li><a href="">Admins</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Logout</a></li>
      </ul>
    </div>

  </nav>

</header>
</body>