<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<header th:replace="fragments/commons::nav">

</header>
<script>
    const toggleButton = document.getElementsByClassName('toggle-button')[0];
    const navbarLinks = document.getElementsByClassName('navbar-links')[0];

    toggleButton.addEventListener('click',() => {
        navbarLinks.classList.toggle('active')
    })




</script>
<div class="margincont"></div>
<body id="rbody">

<div class="container" id="rcontainer">
    <div class="title">Change username form</div>
    <form
            th:action="@{/update/username}"
            th:method="post"
            th:object="${updateUsernameDTO}">
        <p th:if="${already_taken}" class="errors alert alert-danger">
            Username or email already taken, or passwords do not match!
        </p>
        <div class="user-details">
            <div class="input-box">
                <label for="username" class="details">New Username</label>
            </div>
            <input
                    id="username"
                    th:field="*{username}"
                    th:errorclass="bg-danger"
                    class="form-control"
                    type="text" placeholder="Enter your username">
            <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></small>
        
            <div class="input-box">
                <label for="confirmPassword" class="details">Confirm your password</label>
            </div>
            <input
                    id="confirmPassword"
                    th:field="*{confirmPassword}"
                    th:errorclass="bg-danger"
                    class="form-control"
                    type="password" placeholder="Confirm your password">
            <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger">
            </small>
        </div>
        <div class="button">
            <input type="submit" value="Update">
        </div>
    </form>


</div>
</body>
<footer th:replace="fragments/commons::footer">
</footer>
</html>